{% extends 'base.html.twig' %}

{% block body %}
<div class="space-top100 space-bot100">
    <div class="alert-danger space-top100 space-bot100">
        <h1 class="text-center">Jūs neturite teisių matyti šio puslapio turinio!</h1>
        <a href="/"><h3 class="text-center">Grįžkite į pradinį puslapį</h3></a>
    </div>

</div>

{% endblock %}