html{
    background-image: url("../img/pencils2.jpg");
}
body{
    padding-top: 60px;
}
.img-item{
    max-width: 150px;
    padding: 10px;
}
.table-items{
    width: 100%;
}
.form-cell-100{
    max-width: 100px;
}
.space-bot{
    margin-bottom: 30px;
}
.space-top100{
    padding-top: 100px;
}
.space-bot100{
    padding-bottom: 100px;
}
.nav-admin{
    background:#ffd27f;
}
.nav-admin > a{
    color: #dadada;
}
.admin-background{
    background:rgba(255,210,127,0.85);
}
.user-background{
    background:rgba(255,255,255,0.85);
}
input[type=number]{
    width: 60px;
}