{# app/Resources/views/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-7 col-xs-offset-3 text-right space-top100">
        <div class="text-left">
            <h3 class="text-left">Prašome įvesti prisijungimo vardą ir slaptažodį:</h3>
            <h5 class="text-small text-muted  space-bot">(Jeigu dar nesate prisiregistravę - spauskite
                "Registruotis")</h5>
        </div>
    </div>
    <div class="col-xs-5 col-xs-offset-3 text-right space-bot100">

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="username">Prisijungimo vardas:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>
            <div class="form-group">
                <label for="password">Slaptažodis:</label>
                <input type="password" id="password" name="_password"/>
            </div>

            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button type="submit">Prisijungti</button>
        </form>

    </div>


{% endblock %}
